.author-content{
    position: relative;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 50px;
}
.card li{
    width: 300px;
    border: 1px solid rgb(42, 40, 40);
    padding: 50px;
    margin: 20px;
}

